/* For Mobile Devices */
@media screen and (max-width:576px) {

    .nav-container,
    .menu-items-container,
    .banner-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* navbar styles */
    .nav-container {
        padding: 0;
    }

    .logo-container {
        margin-top: 100px;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .menu-items-container {
        width: 100%;
    }

    .menu-items-container .follow-button {
        width: 60%;
    }

    .menu-items-container a {
        margin: 0;
        padding: 15px;
    }

    .menu-items-container .follow-button {
        margin-top: 40px;
    }

    /* banner styles */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-text,
    .banner-img {
        width: 100%;
    }

    .banner-button .button-primary {
        font-size: 14px;
        padding: 20px 20px;
        gap: 5px;
    }

    .banner-button {
        padding-top: 20px;
    }
    .button-root-container{
        display: grid;
        grid-template-columns: repeat(3, 3fr);
    }
    .button-container {
        margin: 0 auto;
        background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
        display: grid;
        /* grid-template-columns: repeat(5, 1fr); */
   
        gap: 5px;
   
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px 40px;
        margin-left: 10%;
        margin-right: 10%;
        /* border: 1px solid black; */
        justify-items: center;
   
        /* justify-content: space-evenly; */
        justify-items: center;
        align-content: space-evenly;
   
    }
    .button-container-1 {
        grid-template-columns: repeat(3, 1fr);
    }
    .button-container-2 {
        display: none;
        grid-template-columns: repeat(4, 1fr);
    }
}


/* For Medium Devices */
@media screen and (min-width:577px) and (max-width:960px) {

    .nav-container,
    .menu-items-container,
    .banner-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-container {
        padding: 0;
    }

    .logo-container {
        margin-top: 60px;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .menu-items-container {
        width: 100%;
    }

    .menu-items-container .follow-button {
        width: 100%;
    }

    .menu-items-container a {
        margin: 0;
        padding: 20px;
    }

    /* banner styles */
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-text,
    .banner-img {
        width: 100%;
    }

    .banner-button .button-primary {
        font-size: 14px;
        padding: 15px 20px;
        gap: 5px;
    }

    .banner-button {
        padding-top: 20px;
    }
}