 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

 /* Shared Styles */
 * {
     font-family: 'Lato', sans-serif;
     font-family: 'Open Sans', sans-serif;
     font-family: 'Work Sans', sans-serif;
 }

 * {
     margin: 0;
     padding: 0;
 }

 * {
     box-sizing: border-box;
 }


 .pink-color {
     color: #FF42A5;
 }

 .button-primary {
     background-color: #FF42A5;
     text-decoration: none;

     color: #FFF;
     font-size: 20px;
     font-weight: 600;
     text-transform: uppercase;

     display: inline-flex;
     padding: 21px 40px;
     align-items: flex-start;
     gap: 10px;

     border-radius: 48px;
     /* background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%)); */
 }

 #blue-button {
     background-color: #4EC5F7;
 }

 /* navbar styles */
 nav {
     background-color: #FFFFFF;
 }

 .nav-container {
     min-height: 80px;
     display: flex;
     align-items: center;
     padding-left: 80px;
     max-width: 1920px;
     margin: 0 auto;
     background-color: #FFFFFF;
 }

 .logo-container {
     display: flex;
     font-size: 45px;
     font-weight: 700;
     width: 100%;
 }

 .logo-container img {
     width: 86.041px;
     height: 40px;
     object-fit: cover;
     margin-right: 20px;
 }

 .logo-container p {
     font-size: 45px;
     color: #0B0223;
     font-weight: 700;
 }

 .menu-items-container {
     width: 50%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     text-align: center;
 }

 .menu-items-container a {
     text-decoration: none;
     color: #3C354F;
     text-align: center;
     font-size: 18px;
     font-weight: 500;
     margin-right: 60px;
 }

 .menu-items-container .follow-button {
     background-color: #0B02231A;
     padding: 10px 20px;
     color: #3C354F;
     text-align: center;
     font-size: 18px;
     font-weight: 500;
     border-radius: 8px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
 }

 .menu-items-container .follow-button img {
     padding-top: 5px;
 }

 /* main section styles */
 /* banner section styles */
 .banner-container {
     display: flex;
     justify-content: space-between;
     /* align-items: center; */
     margin: 50px auto 0;
     max-width: 1920px;
     max-height: 5927px;
 }

 .banner-text {
     /* border: 1px solid black; */
     padding-top: 150px;
     background-image: url(../images/Group14.png);
     background-repeat: no-repeat;
     background-size: cover;
     width: 50%;
     height: auto;
     text-align: center;
 }

 .banner-img {
     /* border: 1px solid black; */
     width: 50%;
     height: auto;
     padding: 30px;
 }

 .banner-img img {
     width: 100%;
     height: auto;
 }

 .violate-text {
     text-align: center;
     font-size: 95px;
     font-weight: 800;
     text-transform: uppercase;

     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .banner-text h2 {
     color: #0B0223;
     text-align: center;
     font-family: Work Sans;
     font-size: 48px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     text-transform: uppercase;
 }

 .banner-info-container {
     /* border: 5px solid yellow; */
     margin-left: 23%;
     margin-right: 20%;
     padding-left: 10px;
 }

 .banner-info {
     /* border: 1px solid black; */
     display: flex;
     justify-content: flex-start;
     align-items: center;
     /* text-align: left; */
 }

 .banner-text .banner-info p {
     color: #534C64;
     text-align: left;
     font-size: 20px;
     font-weight: 500;
     text-transform: lowercase;
     padding: 10px;
 }

 .banner-text .banner-info img {
     width: 24px;
     height: 24px;
 }

 .banner-button {
     margin-left: 23%;
     margin-right: 20%;
     padding-left: 10px;
     padding-top: 50px;
     padding-bottom: 50px;
     align-items: center;
 }

 /* online games section styles */
 .online-game-container {
     /* border: 1px solid black; */
     max-width: 1920px;
     max-height: 5927px;
     min-height: 400px;
     margin: 50px auto 0;
     /* margin-top: 100px;
     margin-bottom: 100px;
     padding-top: 100px;
     padding-bottom: 100px; */
     padding: 100px 100px;
 }

 .online-game-content h1 {
     color: #0B0223;
     text-align: center;
     font-family: Work Sans;
     font-size: 48px;
     font-weight: 700;
 }

 .online-game-content h1 .violate-text {
     text-align: center;
     font-family: Work Sans;
     font-size: 48px;
     font-weight: 700;
     text-transform: none;
 }

 .online-game-content p {
     color: #534C64;
     text-align: center;
     font-size: 18px;
     font-weight: 400;
     line-height: 30px;
     /* 166.667% */
 }

 .online-game-img-container {
     display: flex;
     /* grid-template-columns: repeat(1, 1fr); */
     /* border: 5px solid red; */
     max-width: 1920px;
     /* max-height: 5927px; */
     /* min-height: 400px; */
     margin: 50px auto 0;
 }

 .card-item {
     /* border: 5px solid green; */
     width: 30%;
     /* height: 30px; */
     align-items: center;
     justify-content: center;
     padding: 15px;
     gap: 10px;
 }

 .card-item img {
     width: 100%;
     height: auto;
     display: block;
 }

 #hover-img {}

 .card-item p {
     color: #534C64;
     font-size: 20px;
     font-weight: 500;
     line-height: 30px;
     /* 150% */
 }


 /* button section styles */
 .button-root-container {
     padding-top: 100px;
     padding-bottom: 100px;
 }

 .button-container {
     margin: 0 auto;
     background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
     display: grid;
     /* grid-template-columns: repeat(5, 1fr); */

     gap: 5px;

     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 10px 40px;
     margin-left: 10%;
     margin-right: 10%;
     /* border: 1px solid black; */
     justify-items: center;

     /* justify-content: space-evenly; */
     justify-items: center;
     align-content: space-evenly;

 }

 .button-container caption {
     color: #0B0223;
     font-size: 20px;
     font-weight: 600;
 }

 .button-container-1 {
     grid-template-columns: repeat(5, 1fr);
 }

 .button-container-2 {
     grid-template-columns: repeat(4, 1fr);
 }

 .button {
     margin: 0 auto;
     background-color: #FFFFFF;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 10px;
     border: none;
     width: 70%;
     padding: 5px;
 }

 .button-container-1 button {
     width: 80%;
 }

 button:hover {
     border-radius: 50px;
     border: 1.5px solid var(--Linear, #FF42A5);
     background: #FFF;
     color: #FF42A5;
 }

 /* Play Games section styling */
 .play-container {
     margin-top: 0px;
     display: flex;
     /* justify-content: center;
     align-items: center;
     text-align: center; */
     margin: 0 auto;
     max-width: 1920px;
     max-height: 5927px;
     /* padding: 5px; */
     gap: 60px;
 }

 .play-content {
     width: 50%;
     /* align-items: center; */
     /* padding: 100px; */
     /* margin: 30px; */
     /* gap: 10px; */
     text-align: left;
     /* margin-bottom: 400px; */
     height: auto;
     margin-left: 0px;
     margin-right: 20px;
     /* margin: 100px; */
     padding: 100px;
     padding-left: 80px;
     margin-top: 100px;
 }

 .play-content .violate-text {
     text-align: center;
     text-transform: none;
     font-size: 40px;
     font-weight: 600;
     line-height: 60px;
 }

 .play-content p {
     margin-top: 20px;
     text-align: justify;
 }

 .play-img {
     width: 50%;
     height: auto;
     padding: 100px;
     /* height: 300px; */
     /* margin: 150px; */
     /* padding-bottom: 0; */
 }

 .play-img img {
     /* width: 100%; */
     /* height: 90%; */
 }

 .img-1 {
     width: 510px;
     height: 450px;
 }

 .img-2 {
     width: 300px;
     height: 350px;
     position: relative;
     bottom: 180px;
     margin-left: 60%;
 }

 /* footer styles */
 .footer-container {
     /* border: 5px solid yellow; */
     display: flex;
     flex-direction: column;
     background-color: #0B0223;
     width: auto;
     /* height: 436px; */
 }

 .footer-logo {
     justify-content: center;
     margin-top: 100px;
 }

 .our-story-container {
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;
     width: 100%;
     text-align: center;
     /* padding: 2%; */
     color: #FFF;
     font-size: 18px;
     font-weight: 600;
 }

 .footer-container .logo-container {
     text-align: center;
 }

 .footer-logo-container {
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;
     width: 100%;
     text-align: center;
     /* padding: 2%; */
 }

 footer .item {
     margin: 40px;
 }

 .menu-items-container {
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;
     width: 100%;
     text-align: center;
     /* padding: 2%; */
     color: rgba(255, 255, 255, 0.60);
     /* color: black; */
     font-size: 16px;
     font-weight: 500;
 }

 footer .menu-items-container>li {
     text-decoration: none;
 }

 .copyright {
     /* border: 5px solid white; */
     text-align: center;
     color: rgba(255, 255, 255, 0.60);
     font-size: 16px;
     font-weight: 500;
     padding-top: 40px;
     padding-bottom: 100px;
 }