 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

 /* Shared Styles */
 * {
     font-family: 'Lato', sans-serif;
     font-family: 'Open Sans', sans-serif;
     font-family: 'Work Sans', sans-serif;
 }

 * {
     margin: 0;
     padding: 0;
 }

 * {
     box-sizing: border-box;
 }


 .pink-color {
     color: #FF42A5;
 }

 .button-primary {
     background-color: #FF42A5;
     text-decoration: none;

     color: #FFF;
     font-size: 20px;
     font-weight: 600;
     text-transform: uppercase;

     display: inline-flex;
     padding: 21px 40px;
     align-items: flex-start;
     gap: 10px;

     border-radius: 48px;
     /* background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%)); */
 }

 #blue-button {
     background-color: #4EC5F7;
 }

 /* navbar styles */
 nav {
     background-color: #FFFFFF;
 }

 .nav-container {
     min-height: 80px;
     display: flex;
     align-items: center;
     padding-left: 80px;
     max-width: 1920px;
     margin: 0 auto;
     background-color: #FFFFFF;
 }

 .logo-container {
     display: flex;
     font-size: 45px;
     font-weight: 700;
     width: 50%;
 }

 .logo-container img {
     width: 86.041px;
     height: 40px;
     object-fit: cover;
     margin-right: 20px;
 }

 .logo-container p {
     font-size: 45px;
     color: #0B0223;
     font-weight: 700;
 }

 .menu-items-container {
     width: 50%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     text-align: center;
 }

 .menu-items-container a {
     text-decoration: none;
     color: #3C354F;
     text-align: center;
     font-size: 18px;
     font-weight: 500;
     margin-right: 60px;
 }

 .menu-items-container .follow-button {
     background-color: #0B02231A;
     padding: 10px 20px;
     color: #3C354F;
     text-align: center;
     font-size: 18px;
     font-weight: 500;
     border-radius: 8px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
 }

 .menu-items-container .follow-button img {
     padding-top: 5px;
 }

 /* main section styles */
 /* banner section styles */
 .banner-container {
     display: flex;
     justify-content: space-between;
     /* align-items: center; */
     margin: 50px auto 0;
     max-width: 1920px;
     max-height: 5927px;
 }

 .banner-text {
     /* border: 1px solid black; */
     padding-top: 150px;
     background-image: url(../images/Group14.png);
     background-repeat: no-repeat;
     background-size: cover;
     width: 50%;
     height: auto;
     text-align: center;
 }

 .banner-img {
     /* border: 1px solid black; */
     width: 50%;
     height: auto;
     padding: 30px;
 }

 .banner-img img {
     width: 100%;
     height: auto;
 }

 .banner-text h1 {
     text-align: center;
     font-size: 95px;
     font-weight: 800;
     text-transform: uppercase;

     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .banner-text h2 {
     color: #0B0223;
     text-align: center;
     font-family: Work Sans;
     font-size: 48px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     text-transform: uppercase;
 }

 .banner-info-container {
     /* border: 5px solid yellow; */
     margin-left: 23%;
     margin-right: 20%;
     padding-left: 10px;
 }

 .banner-info {
     /* border: 1px solid black; */
     display: flex;
     justify-content: flex-start;
     align-items: center;
     /* text-align: left; */
 }

 .banner-text .banner-info p {
     color: #534C64;
     text-align: left;
     font-size: 20px;
     font-weight: 500;
     text-transform: lowercase;
     padding: 10px;
 }

 .banner-text .banner-info img {
     width: 24px;
     height: 24px;
 }

 .banner-button {
     margin-left: 23%;
     margin-right: 20%;
     padding-left: 10px;
     padding-top: 50px;
     padding-bottom: 50px;
     align-items: center;
 }

 /* button section styles */
 .button-root-container{
    padding-top: 100px;
    padding-bottom: 100px;
 }
 .button-container {
     margin: 0 auto;
     background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
     display: grid;
     /* grid-template-columns: repeat(5, 1fr); */

     gap: 5px;

     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 10px 40px;
     margin-left: 10%;
     margin-right: 10%;
     /* border: 1px solid black; */
     justify-items: center;

     /* justify-content: space-evenly; */
     justify-items: center;
     align-content: space-evenly;

 }

 .button-container caption {
     color: #0B0223;
     font-size: 20px;
     font-weight: 600;
 }

 .button-container-1 {
     grid-template-columns: repeat(5, 1fr);
 }
 
 .button-container-2 {
     grid-template-columns: repeat(4, 1fr);
 }

 .button {
     margin: 0 auto;
     background-color: #FFFFFF;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 10px;
     border: none;
     width: 70%;
     padding: 5px;
 }
 .button-container-1 button{
    width: 80%;
 }
 button:hover {
     border-radius: 50px;
     border: 1.5px solid var(--Linear, #FF42A5);
     background: #FFF;
     color: #FF42A5;
 }